*{
    box-sizing: border-box;
    /* margin-top: 0;
    padding: 0; */
}

body{
    direction: rtl;
    text-align: right;
    margin: 0;
}

/* header */

header{
    background-image: linear-gradient(rgb(144,144,144) 95%, rgb(238, 238, 238));
    height: 75px;
    width: 100%;
    padding: 0;
    margin: 0;
}

div[class*=-Header] > div.srchB{
    margin-right: 640px;
}

div.srchB > input.searchin{
    width: 132;
    font-size: 16px;
    font-family: Arial;
    border-top-right-radius: 15px;
    padding: 0;
    border: solid 1px rgb(216, 212, 212);
    padding-bottom: 5px;
    height: 19px;
}

div.srchB > label >img{
    width: 19px;
    margin-top: 10px;
}

/* span.homeimg > img{
    margin-bottom: 50px;
    margin-right: 55px;
    width: 12px;
}

div.pazLogo > img{
    margin-bottom: 15px;
    padding: 0px;
    width: 100px;
} */
nav.navBar{
    display: flex;
    width: 900;
    margin: auto;
}

div[class^=hoverCon-]{
    position: relative;
    padding: 10px;
}

div[class^="hoverCon"] > li.mainB{
    list-style: none;
    border-right: 1px solid;
    font-size: 13px;
    padding: 5px;
    margin-right: 5px;
    color: white;
    font-family: Arial;
}

div.hoverList > ul{
    padding: 0px;
    margin: 0;
} 

div.hoverList > ul > li.navItm{
    list-style: none;
    font-family: Arial;
    width: 75px;
    color: white;
    font-size: 11px;
    padding: 0px;
    border-bottom: solid 1px rgb(238, 238, 238);
}

div.hoverList{
    display: none;
    position: absolute;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    background-image: linear-gradient(to top, rgb(144,144,144) 98%, rgb(238,238,238));
    border-bottom: 1px rgb(216, 212, 212) solid;
    padding: 4px;
    margin-top: 0;
}

div[class ^= "hoverCon"]:hover > div[class ^= "hoverList"]{
    display: block;
}

div[class ^= "hoverList"] > ul > li.navItm:hover{
    color:blue;
    background-color: rgb(238, 238, 238);
    size: 13px;    
}

div[class ^= "mainCon-"]{
    width: 900px;
    margin: 0 auto;
}

/* body */

section[class^="mainRow-"]{
    display: flex;
    width: 900px;
    justify-content: center;
    
}
section[class^="mainCol-"]{
    /* display: flex; */
    flex-direction: column;
    flex: 1;
    margin: 25px 7px; 
}

div[class*="Pic"]  > img[class*="img"]{
    width: 293px;
    border-bottom-right-radius: 5px;
}

div[class*="Pic"] {
    position: relative;
}

div.textInImg{
    position: absolute;
    left: 38px;
    bottom: 6px;
    background-color: rgba(126,125,124, 0.9);
    font-family: Arial;
    color:white;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    width: 248px;
    height: 77px;
}
div.textInImg > a.readMore{
    position: absolute;
    bottom: 2px;
    left: 10px;
    color: white;
}

div.textInImg > a.readMore:hover{
    color: darkblue;
    display: block;
}
div.textInImg > a.readMore > img:hover{
    src: url("imgs/read_more_blue.png");
}

/*mid section*/

/* section[class*="-Section"] > section[class*="-second"]{
    width: 292px;
    border: 2px solid black;
} */

section[class*="-second"] > section[class^="mainCol-2"]{
    flex-direction: column;
    width: 292px;
    margin-top: 10px;
    border: rgb(226, 225, 225) solid 1px;
    flex:1;
    border-top-right-radius: 15px;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(179, 179, 179));
    position: relative;
}

div[class*="Pic"]  > img[class*="Img"]{
    width: 250px;
    border: 5px;
    padding: 10px;
    padding-right: 40px;
}

div[class*="Pic"] >  h3 {
    border-bottom: solid 3px rgb(237,237,237);
    font-size: 14px;
    color: rgb(87,87,87);
    padding: 10px 12px;
    font-family: Arial;
}

section.mainRow-second:last-child{
    justify-content: space-between;
}

div.eraeB > ul.picList{
    padding: 0;
    list-style: none;
    float: right;
    padding-left: 32px;
}

section > div.mapPic > img.mapImg{
    width: 100px;
    padding-right: 100;
} 


/*footer*/

footer{
    position: fixed;
    bottom: 0;
    background-image: linear-gradient( rgb(238, 238, 238) 3%, rgb(144,144,144));
    width: 100%;
    margin: 0;
    padding: 0;
    height: 38px;
}
div.mainCon-Footer{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
}
nav.footerBN > ul.footerL  li{
    list-style: none;
    margin: 0;
    padding: 0px 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-left: 2px solid white;
    font-size: 14px;
}

nav.footerBN > ul.footerL > li > a{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    padding: 0;
}
nav.footerBN > ul.footerL > li > a:hover{
    color:darkblue;
    text-decoration: underline;
}

li.facelogo > a > img{
    width: 18px;
}

nav.footerBN > ul.footerL{
    margin: 5px 0;
}

/* nav.footerBN > ul{
    text-decoration: none;
    color: white;
} */

h3{
    margin: 0;
}

p{
    margin: 0;
    padding-top: 3px;
    padding-right: 5px;
    font-size: 13px;
}
/* header > nav.navBar{
    height: 33px;
    margin-top: 53px;  
    width: 900px;
    
}  */